{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/slick-theme.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">

            <!--Левая колонка - кнопка лайк и кнопки для соц. сетей-->
            <div class="col-lg-1 share-column">
                <section class="ar-head__social">
                    <span class="ar-head__social-likes-counter">37</span>
                    <a href="#" class="ar-head__social-like">
                        <i class="far fa-heart"></i>
                    </a>
                    <div class="ar-head__social-share">
                        <a href="#" class="ar-head__social-share-twitter d-block">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="ar-head__social-share-telegram d-block">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </div>
                </section>
            </div>
            <!--Левая колонка - кнопка лайк и кнопки для соц. сетей-->

            <div class="col-lg-11">

                <!--шапка-->
                <div class="row">
                    <div class="col-1">
                        <img class="ar-head__avatar"
                             src="http://support.overwolf.com/wp-content/uploads/2016/07/avatar-300x300.png" alt="">
                    </div>
                    <div class="col">
                        <div class="ar-head__info">
                            <span class="ar-head__info-author d-block">Jun Senior</span>
                            <span class="ar-head__info-datetime">16:23 30-10-2018</span>
                            <span class="ar-head__info-dlmtr"></span>
                            <span class="ar-head__info-readtime">10 минут</span>
                        </div>
                    </div>
                </div>
                <!--шапка-->

                <!--статья-->
                <div class="row">
                    <div class="ar-body">
                        <div class="col-10">
                            <h2 class="ar-head__title">
                                Великолепный заголовок статьи!
                            </h2>
                            <div class="ar-body__body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aperiam aut dicta
                                    dignissimos distinctio ducimus ea earum eligendi harum, officiis quaerat quisquam
                                    quos sunt totam ut voluptates voluptatibus? Facere?</p>
                                <img src="https://img-fotki.yandex.ru/get/30752/27433797.12e/0_c31de_fe8c830a_orig.jpg"
                                     alt=""
                                     class="ar-head__body-img"
                                     data-caption="А ты тоже ждёшь новые материлы на `1000 дней программирования?`">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aperiam aut dicta
                                    dignissimos distinctio ducimus ea earum eligendi harum, officiis quaerat quisquam
                                    quos sunt totam ut voluptates voluptatibus? Facere?</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aperiam aut dicta
                                    dignissimos distinctio ducimus ea earum eligendi harum, officiis quaerat quisquam
                                    quos sunt totam ut voluptates voluptatibus? Facere?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--статья-->

                <!--описание после статьи-->
                <div class="row">
                    <div class="ar-footer">
                        <div class="col-lg-12">
                            <ul class="ar-footer__tags-list list-inline">
                                <li class="ar-footer__tags-list-item list-inline-item">PHP</li>
                                <li class="ar-footer__tags-list-item list-inline-item">Symfony</li>
                                <li class="ar-footer__tags-list-item list-inline-item">Проект Блог</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row ar-footer__social">
                    <div class="col-lg-6">
                        <div class="ar-footer__social-likes d-inline-block">
                            <a href="#" class="ar-head__social-like-bottom">
                                <i class="far fa-heart fa-header-bottom"></i>
                            </a>
                            <span class="ar-head__social-likes-counter">37</span>
                        </div>
                    </div>
                    <div class="col-lg-6 ar-footer__social-col">
                        <ul class="ar-footer__social-list d-inline-block list-inline float-right">
                            <li class="ar-footer__social-list-item list-inline-item">
                                <span class="ar-footer__social-comments-counter">37</span>
                                <i class="far fa-comment"></i>
                            </li>
                            <li class="ar-footer__social-list-item list-inline-item">
                                <a href="#" class="ar-footer__social-share-twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="ar-footer__social-list-item list-inline-item">
                                <a href="#" class="ar-footer__social-share-telegram">
                                    <i class="fab fa-telegram-plane"></i>
                                </a>
                            </li>
                            <li class="ar-footer__social-list-item list-inline-item">
                                <a href="#" class="ar-footer__social-share-more">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--описание после статьи-->
            </div>
        </div>

<!--slider-->
<div class="row slider-row">
    <div class="col-12">
        <div class="following-article-slider">
            <div class="following-article-slider__item">
                <img class="ar-head__avatar d-inline-block avatar-bottom"
                     src="http://support.overwolf.com/wp-content/uploads/2016/07/avatar-300x300.png" alt="">
                <div class="ar-head__info d-inline-block info-bottom">
                    <span class="ar-head__info-author d-block author-bottom">Jun Senior</span>
                    <span class="ar-head__info-datetime">16:23 30-10-2018</span>
                    <span class="ar-head__info-dlmtr"></span>
                    <span class="ar-head__info-readtime">10 минут</span>
                </div>
                <span class="following-article-slider__item-title">Hello, new article!</span>
                <img src="https://bipbap.ru/wp-content/uploads/2017/04/72fqw2qq3kxh.jpg" alt=""
                     class="following-article-slider__item-preview">
            </div>
            <div class="following-article-slider__item">
                <img class="ar-head__avatar d-inline-block avatar-bottom"
                     src="http://support.overwolf.com/wp-content/uploads/2016/07/avatar-300x300.png" alt="">
                <div class="ar-head__info d-inline-block info-bottom">
                    <span class="ar-head__info-author d-block author-bottom">Jun Senior</span>
                    <span class="ar-head__info-datetime">16:23 30-10-2018</span>
                    <span class="ar-head__info-dlmtr"></span>
                    <span class="ar-head__info-readtime">10 минут</span>
                </div>
                <span class="following-article-slider__item-title">Hello, new article!</span>
                <img src="https://bipbap.ru/wp-content/uploads/2017/04/72fqw2qq3kxh.jpg" alt=""
                     class="following-article-slider__item-preview">
            </div>
            <div class="following-article-slider__item">
                <img class="ar-head__avatar d-inline-block avatar-bottom"
                     src="http://support.overwolf.com/wp-content/uploads/2016/07/avatar-300x300.png" alt="">
                <div class="ar-head__info d-inline-block info-bottom">
                    <span class="ar-head__info-author d-block author-bottom">Jun Senior</span>
                    <span class="ar-head__info-datetime">16:23 30-10-2018</span>
                    <span class="ar-head__info-dlmtr"></span>
                    <span class="ar-head__info-readtime">10 минут</span>
                </div>
                <span class="following-article-slider__item-title">Hello, new article!</span>
                <img src="https://bipbap.ru/wp-content/uploads/2017/04/72fqw2qq3kxh.jpg" alt=""
                     class="following-article-slider__item-preview">
            </div>
        </div>
    </div>
</div>
<!--slider-->

<!--comments-->
<div class="row">
    <div class="col-6 justify-content-center m-auto">
        <span class="comments-title">Комментарии</span>
        <div class="new-comment-block">
<textarea placeholder="Введите ваш комментарий" rows="15" name="comment[text]" id="comment_text"
          cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox"
          aria-autocomplete="list" aria-haspopup="true"
          style="margin-top: 14px;margin-bottom: 0;height: 70px;"></textarea>
            <div class="send-comment d-block ml-auto">Отправить</div>
        </div>
        <ul class="comments-list">
            <li class="comments-list__item">
<span class="comments-list__item-text d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Aliquam animi aspernatur aut cupiditate dolores eaque et harum in laboriosam, laborum
reiciendis sunt. A doloribus mollitia, nulla odit quas unde. Reprehenderit!
</span>
                <span class="comments-list__item-author d-inline-block">junsenior</span>
                <span class="comments-list__item-datetime d-inline-block float-right">12:40 21-12-2018</span>
            </li>
            <li class="comments-list__item">
<span class="comments-list__item-text d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Aliquam animi aspernatur aut cupiditate dolores eaque et harum in laboriosam, laborum
reiciendis sunt. A doloribus mollitia, nulla odit quas unde. Reprehenderit!
</span>
                <span class="comments-list__item-author d-inline-block">junsenior</span>
                <span class="comments-list__item-datetime d-inline-block float-right">12:40 21-12-2018</span>
            </li>
            <li class="comments-list__item">
<span class="comments-list__item-text d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Aliquam animi aspernatur aut cupiditate dolores eaque et harum in laboriosam, laborum
reiciendis sunt. A doloribus mollitia, nulla odit quas unde. Reprehenderit!
</span>
                <span class="comments-list__item-author d-inline-block">junsenior</span>
                <span class="comments-list__item-datetime d-inline-block float-right">12:40 21-12-2018</span>
            </li>
            <li class="comments-list__item">
<span class="comments-list__item-text d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Aliquam animi aspernatur aut cupiditate dolores eaque et harum in laboriosam, laborum
reiciendis sunt. A doloribus mollitia, nulla odit quas unde. Reprehenderit!
</span>
                <span class="comments-list__item-author d-inline-block">junsenior</span>
                <span class="comments-list__item-datetime d-inline-block float-right">12:40 21-12-2018</span>
            </li>
            <li class="comments-list__item">
<span class="comments-list__item-text d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Aliquam animi aspernatur aut cupiditate dolores eaque et harum in laboriosam, laborum
reiciendis sunt. A doloribus mollitia, nulla odit quas unde. Reprehenderit!
</span>
                <span class="comments-list__item-author d-inline-block">junsenior</span>
                <span class="comments-list__item-datetime d-inline-block float-right">12:40 21-12-2018</span>
            </li>
            <li class="comments-list__item">
<span class="comments-list__item-text d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Aliquam animi aspernatur aut cupiditate dolores eaque et harum in laboriosam, laborum
reiciendis sunt. A doloribus mollitia, nulla odit quas unde. Reprehenderit!
</span>
                <span class="comments-list__item-author d-inline-block">junsenior</span>
                <span class="comments-list__item-datetime d-inline-block float-right">12:40 21-12-2018</span>
            </li>
        </ul>
    </div>
</div>
<!--comments-->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/article.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
{% endblock %}