/*left column*/
.ar-head__social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.ar-head__social-likes-counter {
    font-size: 14px;
    margin-left: 7px;
}
/*left column*/

/*article header*/
.ar-head__avatar {
    width: 63px;
    border-radius: 50%;
}

.ar-head__info {
    margin-top: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, .54) !important;
}

.ar-head__info-author {
    font-size: 15px;
    color: #484747;
}

.ar-head__info-dlmtr:after {
    content: '\00B7';
}

/*article header*/

/*article body*/
.ar-body {
    margin-top: 31px;
}

.ar-head__title {
    font-weight: 600;
}

.ar-body__body {
    margin-top: 8px;
    font-size: 18px;
}

.ar-head__body-img {
    max-width: 600px;
    border-radius: 2px;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}

.ar-head__body-img-capture {
    display: block;
    font-size: 13px;
    color: #717070;
    text-align: center;
    margin-bottom: 20px;
}

/*article body*/

/*article-footer*/
.ar-footer__tags-list {
    padding-left: 15px;
}

.ar-footer__tags-list-item {
    background-color: #e3e3e3;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

.ar-footer__tags-list-item:hover {
    cursor: pointer;
    background-color: #cec9c9;
}

.ar-head__social-like-bottom {
    padding-left: 15px;
    margin-top: 10px;
    display: inline-block;
}

.fa-header-bottom {
    font-size: 35px;
}

.ar-footer__social-col {
    padding-right: 60px;
}

.ar-footer__social-list {
    line-height: 3.3em;
}
/*article-footer*/

/*slider*/

.following-article-slider__item {
    text-align: center;
}

.following-article-slider__item:hover {
    cursor: pointer;
}

.following-article-slider__item-title {
    display: block;
}

.following-article-slider__item-preview {
    max-width: 310px;
    margin: 10px auto;
    border-radius: 3px;
}

.slider-row {
    background: #f7f7f7;
}

/*slider*/


/*comments*/
.ar-footer__social-comments-counter {
    font-size: 13px;
}

.ar-footer__social-list {
    font-size: 19px;
}

.avatar-bottom {
    width: 50px;
    margin-bottom: 18px;
}

.info-bottom {
    padding-top: 3px;
    margin-left: 13px;
}

.author-bottom {
    font-size: 13px;
}

.comments-list {
    list-style: none;
    margin-top: 21px;
}

.comments-list__item {
    padding: 6px;
    border: 1px solid #f7f4f4;
}

.comments-list__item-author, .comments-list__item-datetime {
    display: block;
    font-size: 13px;
    margin-right: 10px;
    color: #797777;
}

.comments-list__item-text {
    font-size: 14px;
}

.comments-list__item {
    margin-top: 10px;
}

.comments-list__item:first-child {
    margin-top: 2px;
}

.comments-title {
    display: block;
    margin-left: 40px;
    margin-top: 24px;
}

textarea {
    margin-top: 10px;
    margin-left: 40px;
    width: 500px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}

textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.send-comment {
    font-size: 14px;
    line-height: 1.9em;
    width: 90px;
}

/*comments*/

/*@media screen and (min-width: 992px) {*/
    /*.share-column {*/
        /*display: block !important;*/
    /*}*/
/*}*/
