body {
    font-family: 'Ubuntu', sans-serif;
    margin: 25px auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

/*header*/
header {
    padding-bottom: 30px;
}

#content {
    min-height: 100%;
    padding-bottom: 40px;
}

.logo {
    font-size: 28px;
    margin-left: 20px;
    cursor: pointer;
}

.menu {
    padding-top: 10px;
    list-style: none;
}

.menu__item {
    font-size: 18px;
    margin-right: 23px;
}

.menu__item a {
    text-decoration: none;
    color: #797979;
}

.menu__item a:hover {
    color: #aeb1b3;
}

.auth-reg {
    font-size: 17px;
    padding-top: 10px;
}

.auth-reg__auth, .send-comment {
    width: 64px;
    height: 27px;
    text-align: center;
    border-radius: 2px;
    background-color: #c9e2ea;
}

.auth-reg__auth:hover, .send-comment:hover {
    border: none;
    background-color: white;
    cursor: pointer;
}

.auth-reg__reg {
    border-color: gray;
    width: 115px;
    height: 27px;
    text-align: center;
    margin-left: 10px;
}

.auth-reg__reg:hover {
    cursor: pointer;
}

/*main*/
.article {
    margin-left: 25px;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 20px;
}

.article__author {
    padding-right: 5px;
    border-right: 1px solid #dad0d0;
}

.article__meta {
    font-size: 12px;
    margin-left: 6px;
    padding-bottom: 10px;
}

.article__date-time {
    padding-left: 2px;
}

.article__preview-img {
    margin: 0 auto;
    border-radius: 2px;
    width: 77%;
    padding-bottom: 10px;
}

.article__preview-text {
    font-size: 14px;
    line-height: 1.56;
}

.article__more-button {
    width: 94px;
    height: 34px;
    margin-right: 12px;
    text-align: center;
    border-radius: 2px;
    background-color: #c9e2ea;
    line-height: 2.2em;
}

.article__statistic {
    margin-top: 13px;
    margin-left: 5px;
    font-size: 12px;
    color: #9c9696;
}

.article__statistic-comment {
    margin-left: 10px;
}

/*right bar*/
.right-menu {
}

.right-menu__item {
    padding-bottom: 30px;
    margin-top: 5px;
}

.right-menu__item:last-child {
    padding-bottom: 0;
}

.right-menu__item-title {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #0f5065
}

.right-menu__item-list {
    list-style: none;
    padding: 4px 15px;
}

.right-menu__item-list li {
    height: 40px;
    line-height: 2.9;
    border-bottom: 1px solid #dcd6d6;
    text-transform: uppercase;
}

.right-menu__item-list li:last-child {
    border-bottom: none;
}

.right-menu__item-list li a {
    font-size: 14px;
    color: #5292a7;
    text-decoration: none;
}

.more_articles {
    height: 34px;
    text-align: center;
    line-height: 32px;
    border-radius: 2px;
    background-color: #c9e2ea;
    margin-top: 10px;
    margin-left: 20px;
}

.more_articles:hover {
    border: none;
    background-color: white;
    cursor: pointer;
}

/*footer*/
footer {
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_list {
    justify-content: space-around;
    list-style: none;
}

.article_button_group {
    float: right;
    margin-right: 95px;
    margin-bottom: 20px;
}

.save_article {
    margin-right: 20px;
}

.article_button_group-button {
    margin-right: 20px;
    border-radius: 3px;
    box-shadow: none;
    background: #c4e2ea;
    border: 0;
    height: 36px;
    font-size: 15px;
}

.article_button_group-button:hover {
    border: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 200ms;
}

.addnews__article-header {
    margin-bottom: 20px;
}

#editor {
    height: 350px;
}

.button_save_publish {
    margin-top: 20px;
}

.preview-text-row {
    margin-bottom: 40px;
}

.

/*media-queries*/
@media screen and (max-width: 1200px) {
    .right-menu__item-list li {
        height: 30px;
        line-height: 1.9;
    }

    .right-menu__item-list li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 991px) {
    .more_articles {
        margin-bottom: 20px;
    }

    .right-menu {
        width: 80%;
        margin: 0 auto;
    }

    .right-menu__item-list {
        text-align: center;
    }

    .right-menu__item-list li {
        height: 40px;
        line-height: 2.6;
    }

    .right-menu__item-list li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 520px) {
    .menu__item a {
        font-size: 17px;
    }

    .right-menu__item-list li {
        height: 35px;
        line-height: 2.0;
    }

    .right-menu__item-list li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .menu {
        display: block !important;
        text-align: center;
    }

    .menu__item a {
        font-size: 18px;
    }

    .footer_list {
        display: block !important;
        text-align: center;
    }
}