<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ title }}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo animated fadeInLeft">
                    <span class="logo__title">JunSenior</span>
                </div>
            </div>
            <div class="col-lg-7">
                <nav>
                    <ul class="menu d-flex justify-content-center animated fadeInDown">
                        <li class="menu__item"><a href="#">Главная</a></li>
                        <li class="menu__item"><a href="#">Учимся</a></li>
                        <li class="menu__item"><a href="#">Блог</a></li>
                        <li class="menu__item"><a href="#">Истории и мнения</a></li>
                        <li class="menu__item"><a href="#">Дайджест</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="auth-reg d-flex justify-content-center">
                    {% if app.user %}
                        <div class="auth-reg__auth"><a href="/logout">Выйти</a></div>
                    {% else %}
                        <div class="auth-reg__auth"><a href="/login">Войти</a></div>
                        <div class="auth-reg__reg"><a href="/register">Регистрация</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

{% block content %}
    <main id="content">

    </main>
{% endblock %}

{#<footer>#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-lg-12">#}
                {#<ul class="footer_list d-flex">#}
                    {#<li class="footer_list__item"><a href="#">Канал в telegram</a></li>#}
                    {#<li class="footer_list__item"><a href="#">О проекте</a></li>#}
                    {#<li class="footer_list__item"><a href="#">Об авторе</a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</footer>#}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

</body>
</html>