{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .radio-custom {
            background-color: #000;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex justify-position-center">
                {{ form_start(form) }}
                {{ form_row(form.email, {label_attr: {class: 'radio-custom'} }) }}
                {{ form_row(form.username, {label_attr: {class: 'checkbox-custom'} }) }}
                {{ form_row(form.text, {label_attr: {class: 'checkbox-custom'} }) }}
                {{ form_row(form.save, {label_attr: {class: 'checkbox-custom'} }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}