{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex justify-position-center">
                Всё отлично, форма успешно валидирована! Проверяй сущность, друг.
            </div>
        </div>
    </div>
{% endblock %}
