{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 addnews__article-header">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Заголовок</span>
                    </div>
                    <input type="text" class="form-control article__title-text" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <div class="row preview-text-row">
            <div class="col-lg-12 addnews__article-preview-text">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Preview-текст</span>
                    </div>
                    <textarea class="form-control preview-text-aria" aria-label="With textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="editor">
                    Введите свой текст
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="test-editor">

                </div>
            </div>
        </div>
        <div class="row button_save_publish">
            <div class="col-lg-12">
                <div class="article_button_group">
                    <button class="article_button_group-button save_article">
                        Сохранить
                    </button>
                    <button class="article_button_group-button publish_article">
                        Опубликовать
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock %}