{% extends 'base.html.twig' %}
{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    {% for article in articles %}
                        <div class="article animated fadeIn">
                            <h3 class="article__title">
                                <a href="{{ path('show_detail_article', {'article_id' : article.article_id }) }}"
                                   class="go-to-detailed-view">
                                    {{ article.article_title }}
                                </a>
                            </h3>
                            <div class="article__meta">
                                <span class="article__author">{{ article.article_author }}</span>
                                <span class="article__date-time">{{ article.article_date_time }}</span>
                            </div>
                            <img src="{{ article.article_preview_img }}"
                                 alt="New York" class="article__preview-img d-block">
                            <p class="article__preview-text">{{ article.article_preview_text }}</p>
                            <div class="article__footer d-flex">
                                <div class="article__statistic">
                                    <span class="article__statistic-views"><i
                                                class="fas fa-eye"></i> {{ article.article_views_count }}</span>
                                    <span class="article__statistic-comment"><i
                                                class="fas fa-comments"></i> {{ article.article_comments_count }}</span>
                                </div>
                                <div class="article__more-button ml-auto">
                                    <a href="{{ path('show_detail_article', {'article_id' : article.article_id }) }}"
                                       class="go-to-detailed-view">
                                        Читать
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="more_articles">Загрузить ещё...</div>
                </div>

                <div class="col-lg-3">

                    <div class="right-menu">
                        <div class="right-menu__item">
                            <h3 class="right-menu__item-title">Сейчас читают</h3>
                            <ul class="right-menu__item-list d-block">
                                <li><a href="#">День 157 - новый проект!</a></li>
                                <li><a href="#">День 822 - опыт внедрения ...</a></li>
                                <li><a href="#">День 4 - начинаем изучать ...</a></li>
                                <li><a href="#">День 13 - дайджест ...</a></li>
                            </ul>
                        </div>
                        <div class="right-menu__item">
                            <h3 class="right-menu__item-title">Последние комментарии</h3>
                            <ul class="right-menu__item-list d-block">
                                <li><a href="#">День 12 - ха-ха</a></li>
                                <li><a href="#">День 1 - продам гараж</a></li>
                                <li><a href="#">День 990 - Почему так ...</a></li>
                                <li><a href="#">День 13 - У тебя не получи...</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
{% endblock %}